# Ignore Virtual Environments
.venv
.venv3

# Ignore class/cache files
conlog/*.pyc
conlog/__pycache__

# Ignore test files
.pytest_cache
test/*.pyc
test/__pycache__
test/utils/*.pyc
test/utils/__pycache__
test/tmp/*
